<%- include("blocks/header.ejs")%>

<body>

    <script src="/socket.io/socket.io.js"></script>

    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="<%=myUser.img%>" class="online" alt="">
                    <p id="profileName"><%=myUser.name%></p>
                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    <div id="status-options">
                        <ul>

                        </ul>
                    </div>
                    <div id="expanded" style="justify-content: space-between;">
                        <button type="button" id="changeProfile" class="btn btn-primary">Edit profile </button>
                        <button type="button" class="btn btn-primary">Logout </button>
                    </div>

                    <form action="/edit/<%=myUser._id%>" enctype="multipart/form-data" method="POST"
                        style="margin-top: 20px;" id="changeProfileForm" class="changeProfile">
                        <div class="form-group">
                            <input class="form-control" name="name" placeholder="New name">
                        </div>
                        <div class="form-group">
                            <input type="file" name="avatar">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts...">
            </div>
            <div id="contacts">
                <ul>
                    <%if(typeof listUser!='undefined'){ %>
                    <% listUser.forEach(element => { %>
                    <a href="" style="text-decoration: none; color:white;" class="contact-left-father">
                        <li class="contact contact-left">
                            <div class="wrap">
                                <span style="background:<%= element.status=='busy' ? 'red' : 'green'%>"
                                    class="<%=element.status%>>" id="<%=element._id%>"></span>
                                <img src="<%=element.img%>" alt="">
                                <div class="meta">
                                    <p class="name"><%=element.name%></p>
                                    <!-- <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p> -->
                                </div>
                            </div>
                        </li>
                    </a>
                    <% }); %>
                    <%}%>

            </ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div>
    </div>    



	<div class="content">
		<div class="contact-profile">
			<img src="<%=ToUser.img%>" alt="">
			<p><%=ToUser.name%></p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages" id="messages-log">
			<ul id="chatlog">
                <% ChatLog.forEach(element => { %>
                    <li class="contact">
                        <div class="wrap">
                            <span class="contact-status busy"></span>
                            <img src="<%=element.img%>" alt="">
                            <div class="meta">
                                <p class="name"><%=element.name%></p>
                                <p class="preview"><%=element.content%></p>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <form id="formMess" class="message-inputBar">
                <div class="wrap">
                    <input type="text" id="mess" placeholder="Write your message...">
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>

</body>

<%- include("blocks/scripts")%>

<script>
    var btnChange = document.getElementById("changeProfile");
    btnChange.addEventListener("click", function () {
        var changeProfileForm = document.getElementById("changeProfileForm");
        changeProfileForm.classList.toggle("ShowProfile");
    })
</script>

<script>

    const socket = io();

    //sort user trạng thái , cho người online lên đầu
    function sortUser() {
        let allUser = document.getElementsByClassName("contact-left");
        for (let i = 0; i < allUser.length - 1; i++) {
            for (let j = i + 1; j < allUser.length; j++) {
                if (allUser[i].children[0].children[0].style.background == "red" && allUser[j].children[0].children[0].style.background == "green") {
                    allUser[j].parentNode.insertBefore(allUser[j], allUser[i]);
                }

            }
        }
    }

    //#endregion
    //Khi phát hiện có người mới load vào từ client
    document.addEventListener("DOMContentLoaded", function () {
        socket.emit("form-client-showUserOnline", {
            id: "<%=myUser._id%>",
        })
        var contacts = document.getElementById("contacts");
        sortUser();



                
    var allUserAtag = document.getElementsByClassName("contact-left-father");
    var allUser = document.getElementsByClassName("contact-left");
    //#region Private chat

    //Khi click thi render qua private chat
    for (let i = 0; i < allUserAtag.length; i++) {
        var curID = allUser[i].children[0].children[0].id;
        allUserAtag[i].setAttribute('href',"/chatbox/" + curID);
    }

    });


    //emit mess lên server
    $('#formMess').submit(function (e) {
        e.preventDefault(); // prevents page reloading
        socket.emit('from-client-chat-mess-private', {
            from : '<%=myUser._id%>' ,
            to : window.location.href.split("/")[4],
            content: $('#mess').val(),
            name: document.getElementById("profileName").textContent,
            img: '<%=myUser.img%>',
        });
        $('#mess').val('');
        return false;
    });

    

    // Append mess vào chatlog
    socket.on("from-server-chat-mess", function (msg) {
        var stringAppend = `<li class="contact">
                        <div class="wrap">
                            <span class="contact-status"></span>
                            <img src="${msg.img}" alt="">
                            <div class="meta">
                                <p class="name">${msg.name}</p>
                                <p class="preview"> ${msg.content} </p>
                            </div>
                        </div>
                        </li>`

        $('#chatlog').append(stringAppend);
        var objDiv = document.getElementById("messages-log");
        objDiv.scrollTop = objDiv.scrollHeight;
    })


    //set color status ban đầu do class bị lỗi nên tự set bằng script
    var status = document.getElementsByName("busy");
    for (let i = 0; i < status.length; i++) {
        status[i].style.color = "red";
    }


    //set status online cho user
    socket.on("from_sever_showUserOnline", function (data) {
        console.log(data);
        var user = document.getElementById(data.id);
        user.style.background = "green";

        sortUser();
    })

    // Khi có người offline(disconect)
    socket.on("from_sever_showUserOffline", function (data) {
        var user = document.getElementById(data.id);
        user.style.background = "red";
        sortUser();
    })


//sort user online

</script>
</html>